body {
    background-color: rgba(67, 175, 83, 0.619);
    color: black;
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
}
main{
max-width: 90%;
}
button{
    background-color: darkgrey;
    color: ghostwhite;
    padding: 10px;
}
.img01{
    width: 40%;

}








